<!doctype html>
<html>
<head>
  <title>san francisco - Google Search</title>
  <script src="/head.js"></script>
  <link rel="stylesheet" href="/grid.css">
</head>
<body>

  <!-- used by JS -->
  <div data-ved="0CBUQ3B8" id="hdtbMenus"></div>
  <div id="xjsd"></div>
  <div class="tsf-p" id="foot" role="contentinfo"></div>

  <!-- determines zoom -->
  <div data-th="180" data-ma="12" data-eca="0.1" data-mrw="80" data-bge="false" data-isuf="0" id="isr_param" style="display:none"></div>

  <div id="main">
    <div>
      <div id="cnt">
        <div id="rcnt" style="clear:both;position:relative;zoom:1">
          <div id="center_col">
            <div class="med" id="res" role="main">
              <div id="search">
                <div id="ires">
                  <ol eid="0tPVUYelBY_nigKpx4D4Cg" id="rso">
                    <li>
                      <div id="rg">
                        <div id="rg_s" style="visibility:hidden">
                          <%= erb :results_top %>
                        </div>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/layout1.js"></script>
  <script src="/layout2.js"></script>
  <script src="/layout3.js"></script>
  <script src="/layout4.js"></script>
  <script src="/layout5.js"></script>

</body>
</html>
