<!doctype html>
<html>
<head>
  <title>san francisco - Google Search</title>
  <script src="/head.js"></script>
  <link rel="stylesheet" href="/grid.css">
</head>
<body>

  <!-- used by JS -->
  <div id="hdtbMenus"></div>
  <div id="xjsd"></div>

  <!-- determines zoom -->
  <div data-th="180" data-ma="12" data-eca="0.1" data-mrw="80" data-bge="false" data-isuf="0" id="isr_param" style="display:none"></div>

  <div id="main">
    <div id="cnt">
      <div id="rcnt">
        <div id="center_col">
          <div id="res">
            <div id="search">
              <div id="ires">
                <div id="rso">
                  <div id="rg">
                    <div id="rg_s">
                      <%= erb :results_top %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/layout1.js"></script>
  <script src="/layout2.js"></script>
  <script src="/layout3.js"></script>
  <script src="/layout4.js"></script>
  <script src="/layout5.js"></script>

</body>
</html>
