<!doctype html>
<html>
<head>
  <title>scuba diving - Google Search</title>
  <link rel="stylesheet" href="/grid.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id='images-grid' data-row-height="180" data-ma="12" data-eca="0.1" data-mrw="80" data-bge="false" data-isuf="0">
    <div id='images-grid-inner'>
      <div id="rg"><%= erb :results %></div>
    </div>
  </div>

  <script src="/lib.js"></script>
  <script src="/layout_calculator.js"></script>
  <script>
    $(function () {
      init({resizeThrottleRate: 100});
    });
  </script>
</body>
</html>
