<!doctype html>
<html>
<head>
  <title>san francisco - Google Search</title>
  <script src="/head.js"></script>
  <link rel="stylesheet" href="/grid.css">
</head>
<body>
  <div id='images-grid' data-th="180" data-ma="12" data-eca="0.1" data-mrw="80" data-bge="false" data-isuf="0">
    <div id='images-grid-inner'>
      <div id="rg">
        <%= erb :results_top %>
      </div>
    </div>
  </div>

  <script src="/layout1.js"></script>
  <script src="/layout2.js"></script>
  <script src="/layout3.js"></script>
  <script src="/layout4.js"></script>
  <script src="/layout5.js"></script>
  <script src="/1.js"></script>

</body>
</html>
